*,
*::before, 
*::after {
  box-sizing: border-box
}

html, 
body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Source Sans Pro';
}

/* Header & nav */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 1em ;
  height: 3.6em;
}

.navbar-item{
  list-style: none;
  display: inline;
  margin-right: 1em;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.title-main {
  font-weight: 700;
  font-size: 1.2rem;
}

/* Hero  */

.hero {
  display: flex;
  flex-direction: column;
  height: 25em;
  justify-content: end;
  padding: 1em;
  color: white;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), url("img/homeOfficeMain.jpg") center / cover no-repeat;
}

.hero-item {
  margin: 0 0 .5em 0;
}

.hero-date {
  font-weight: 400;
  font-size: 12px;
}

.hero-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 108.2%;
  letter-spacing: -0.03em;
}

.hero-text {
  font-weight: 400;
  font-size: 16px;
}

/* Blog Section */

.blogs-grid-container {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1f 1f;
  grid-area: 
  "image image"
  "date ."
  "title ."
  "text text";
  padding: 1em;
  gap: 3em;
}

.image {
  grid-area: image;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
}
.date {grid-area: date;}
.title {
  grid-area: title;
  font-size: 1.5em;
  font-weight: 700;
}
.ptext {
  grid-area: ptext;
}

.grid-item {
  margin: 0 auto .5em auto;
}


/* Footer Section */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  font-size: small;
  background-color: rgb(18, 17, 17);
  color: white;
  height: 6em;
}

footer p {
  margin: 0;
}

.copyright {
  font-weight: lighter;
}
