*,
*::before, 
*::after {
  box-sizing: border-box
}

html, 
body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Source Sans Pro';
}

/* Header & nav */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 1em ;
  height: 3.6em;
}

.navbar-item{
  list-style: none;
  display: inline;
  margin-right: 1em;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.title-main {
  font-weight: 700;
  font-size: 1.2rem;
}

.recent-blogs-headline, .view-more {
  text-align: center;
}


/* Hero  */

.hero {
  position: relative;
  width: 100%;
  height: 400px;
  color: white;
}

.hero-item {
  color: white;
  padding: 0 1em;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.hero-date {
  position: absolute;
  bottom: 200px;
  font-weight: 400;
  font-size: .75rem;
}

.hero-title a{
  position: absolute;
  font-weight: 700;
  font-size: 2rem;
  width: 10em;
  letter-spacing: -0.03em;
  color: white;
  padding-bottom: .06em;
  line-height: 1;
  bottom: 140px;
}

.hero-title a:visited{
  color: none;
}

.hero-text {
  position: absolute;
  font-weight: 400;
  font-size: 1rem;
  bottom: 20px;

}

/* Blog Section */

.blog-page-content, 
.blogs-grid-container, 
.recent-posts,
.about-page-content {
  padding: 1.2em 2em 0 2em;
}

.blogs-grid-container, .recent-posts {
  display: grid;
  grid-template-columns: 1f;
  grid-template-areas: 
  "image"
  "date"
  "title"
  "ptext";
  gap: 1.5em;
}

.recent-posts{
  margin: 0;
}

.image {
  grid-area: image;
  max-width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
}
.date {grid-area: date;}
.title {
  grid-area: title;
  font-size: 1.5em;
  font-weight: 700;
}
.ptext {
  grid-area: ptext;
  line-height: 1.25;
}

.grid-item {
  margin: 0 auto .5em auto;
  color: black
}

/* Blog Page CSS */

.blog-page-content {
  display: grid;
  grid-template-columns: 1f 1f;
  grid-template-areas:
  "blog-date ." 
  "blog-title blog-title"
  "blog-text blog-text"
  "blog-image blog-image"
  "blog-subtitle ."
  "blog-paragraph blog-paragraph"
  "blog-subtitle-two blog-subtitle-two"
  "blog-paragraph-two blog-paragraph-two"
  ;
}

.blog-date {grid-area: blog-date;}
.blog-title {
  grid-area: blog-title; 
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}
.blog-text {grid-area: blog-text; margin-bottom: 30px;}
.blog-image{
  grid-area: blog-image;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
}

.blog-subtitle {grid-area: blog-subtitle; font-weight: bold; }
.blog-paragraph {grid-area: blog-paragraph;}
.blog-subtitle-two {grid-area: blog-subtitle-two; font-weight: bold;}
.blog-paragraph-two {grid-area: blog-paragraph-two;}


/* About Page CSS */

.about-page-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "profile-pic" 
  "about-title"
  "about-intro"
  "about-subtitle"
  "about-paragraph"
  "about-subtitle-two"
  "about-paragraph-two"
  ;
}

.profile-pic {
  grid-area: profile-pic;
  width: 182px;
  margin-bottom: 10px;
  border-radius: 50%;
}
.about-title {
  grid-area: about-title; 
  font-weight: bold;
  font-size: 2rem;
  width: 80% ;
  margin: 0;
}
.about-intro { grid-area: about-intro;}

.about-subtitle {grid-area: about-subtitle; font-weight: bold; }
.about-paragraph {grid-area: about-paragraph;}
.about-subtitle-two {grid-area: about-subtitle-two; font-weight: bold;}
.about-paragraph-two {grid-area: about-paragraph-two;}

/* Footer Section */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  font-size: small;
  background-color: rgb(18, 17, 17);
  color: white;
  height: 6em;
}

footer p {
  margin: 0;
}

.copyright {
  font-weight: lighter;
}

@media (max-width: 389px ){
  .hero-date {
    bottom: 200px;
  }
    
  .hero-text {
    bottom: 20px;
  }


}

@media (min-width: 800px) {

  .hero-item {
    padding: 0 2.5em;
    width: 700px;
  }

  .hero {
    height: 450px;
  }

  .blogs-grid-container, .recent-posts {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "image"
    "date "
    "title"
    "ptext";
  }

  .blog-page-content {
    display: grid;
    grid-template-columns: 4em 1fr 1fr 4em;
    grid-template-areas:
    ". blog-date . ." 
    ". blog-title blog-title ."
    ". blog-text blog-text ."
    "blog-image blog-image blog-image blog-image"
    ". blog-subtitle . ."
    ". blog-paragraph blog-paragraph ."
    ". blog-subtitle-two . ."
    ". blog-paragraph-two blog-paragraph-two ."
    ;
  }
  
  .about-page-content {
    display: grid;
    grid-template-columns: 5em .8fr 1fr 1fr 1fr 5em;
    grid-template-areas:
    "profile-pic . about-title about-title about-title about-title"
    "profile-pic . about-intro about-intro about-intro about-intro" 
    " . . . . . . "
    ". about-subtitle about-subtitle about-subtitle about-subtitle ."
    ". about-paragraph about-paragraph about-paragraph about-paragraph ."
    ". about-subtitle-two  about-subtitle-two about-subtitle-two  about-subtitle-two ." 
    ". about-paragraph-two about-paragraph-two about-paragraph-two about-paragraph-two ."
    ;
  }

  .profile-pic {
    grid-area: profile-pic;
    border-radius: 50%;
    width: 182px;
  }

}

@media (min-width: 1000px) { 
  .about-page-content {
    display: grid;
    grid-template-columns: 5em .7fr 1fr 1fr 1fr 5em;
    grid-template-areas:
    "profile-pic . about-title about-title about-title about-title"
    "profile-pic . about-intro about-intro about-intro about-intro" 
    " . . . . . . "
    ". about-subtitle about-subtitle about-subtitle about-subtitle ."
    ". about-paragraph about-paragraph about-paragraph about-paragraph ."
    ". about-subtitle-two  about-subtitle-two about-subtitle-two  about-subtitle-two ." 
    ". about-paragraph-two about-paragraph-two about-paragraph-two about-paragraph-two ."
    ;
  }
}